Package: com.rpetrich.dietbulletin
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.5
Description: Skinny bulletins!
Name: DietBulletin
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader, applist (>= 1.4.3)
Author: Ryan Petrich
